name: CI/CD

on:
  push:
    branches: [ main ]
    tags: [ "*" ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]

jobs:
  markdown-checks:
    if: github.event_name == 'pull_request'
    name: Markdown Checks
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Lint Markdown files
      uses: nosborn/github-action-markdown-cli@v3.5.0
      with:
        files: .

    - name: Check spelling
      uses: reviewdog/action-misspell@v1
      with:
        github_token: ${{ secrets.github_token }}
        locale: 'US'
        fail_level: error
        filter_mode: 'nofilter'
        exclude: '*.json'

    - name: Check style and grammar
      uses: reviewdog/action-languagetool@v1
      with:
        github_token: ${{ secrets.github_token }}
        patterns: '*.md docs/*.md'

  unit-testing:
    name: Unit Testing
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Use Node.js 20.x
      uses: actions/setup-node@v5
      with:
        node-version: 20.x
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Run linting
      run: npm run lint

    - name: Run tests
      run: npm run test-ci

    - name: Upload Test Coverage
      uses: actions/upload-artifact@v4
      with:
        name: coverage
        path: coverage/

  code-analysis:
    name: Code Analysis
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: javascript

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3

  deployment:
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'release'
    name: Install and Deploy
    runs-on: ubuntu-latest
    needs: [unit-testing, code-analysis]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Use Node.js 20.x
        uses: actions/setup-node@v5
        with:
          node-version: 20.x
          cache: 'npm'
          cache-dependency-path: 'functions/package-lock.json'

      - name: Install dependencies
        working-directory: ./functions
        run: npm ci

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3.0.0
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Deploy to Google Cloud Functions
        uses: google-github-actions/deploy-cloud-functions@v2.1.0
        with:
          name: ${{ github.event_name == 'release' && 'openhabGoogleAssistant' || 'openhabGoogleAssistant_test' }}
          runtime: nodejs20
          source_dir: ./functions
          entry_point: openhabGoogleAssistant
          region: us-central1
          timeout: 180
          memory_mb: 256MB
          min_instances: 1
          max_instances: 20
          env_vars: OH_HOST=myopenhab.org,OH_PORT=443,OH_PATH=/rest/items/
